@import '../../styles/variables';

@mixin active {
    background: $selected-background;
    border: 1px solid $selected-border;
}

.item {
    padding: 0.25rem 0.5rem;
    border: 1px solid $background;

    &:hover {
        background: $hover-background;
        border: 1px solid $hover-border;
    }

    &:active {
        @include active;
    }
}

.active {
    @include active;
}
