@import '../../styles/variables';

.footer {
    display: flex;
    flex-wrap: wrap;
    background: $background-secondary;
    border-top: 1px solid $background-tertiary;
    justify-content: right;
}
