$background: rgb(255, 255, 255);
$background2: rgb(240, 240, 240);
$background3: rgb(215, 215, 215);
$hover-background: rgb(229, 243, 255);
$hover-border: rgb(204, 232, 255);
$selected-background: rgb(204, 232, 255);
$selected-border: rgb(153, 209, 255);
