$background-primary: rgb(255, 255, 255);
$background-secondary: rgb(240, 240, 240);
$background-tertiary: rgb(215, 215, 215);

$background-hover: rgb(229, 243, 255);
$border-hover: rgb(204, 232, 255);

$background-active: rgb(204, 232, 255);
$border-active: rgb(153, 209, 255);
